@charset "UTF-8";
/* タブレット用CSS */

.hidden-sp {
	display: inherit !important;
}
.hidden-tb {
	display:none !important;
}
.hidden-pc {
	display: inherit !important;
}
.only-sp {
	display: none !important;
}
.only-tb {
	display: inherit !important;
}
.only-pc {
	display: none !important;
}


#wrapper {
padding-top: 64px;
}

/* =========================================================== header */
#header {}
#header .inner {
    width:100%;
    height:64px;
    padding:0 5%;
    min-width: auto;
}
#header #menu {
    display:block;
    width:32px;
    float:left;
    margin:20px 24px 0 0;
    position: relative;
}
#header #menu span {
    display:block;
    width:100%;
    height:4px;
    background-color: #666;
}
#header #menu span:nth-of-type(2) {
    margin:6px 0;
}
#header #menu.open span {
    display:block;
    width:100%;
    height:4px;
    background-color: #666;
    transition: all 0.2s linear;
}
#header #menu.open {
    height: 24px;
}
#header #menu.open span:nth-of-type(1) {
    position: absolute;
    top:50%;
	-webkit-transform: translate(0%, -50%) rotate(45deg);
	-moz-transform: translate(0%, -50%) rotate(45deg);
	-ms-transform: translate(0%, -50%) rotate(45deg);
	-o-transform: translate(0%, -50%) rotate(45deg);
	transform: translate(0%, -50%) rotate(45deg); 
}
#header #menu.open span:nth-of-type(2) {
    width:0;
}
#header #menu.open span:nth-of-type(3) {
    position: absolute;
    top:50%;
	-webkit-transform: translate(0%, -50%) rotate(-45deg);
	-moz-transform: translate(0%, -50%) rotate(-45deg);
	-ms-transform: translate(0%, -50%) rotate(-45deg);
	-o-transform: translate(0%, -50%) rotate(-45deg);
	transform: translate(0%, -50%) rotate(-45deg); 
}
#header .logo {
    width:30%;
    float:none;
    padding:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#header .logo img {
    width:100%;
    display: block;
}
#header ul {
    display:none;
    float: none;
    width:100%;
    position: fixed;
    padding: 0;
    height:100vh;
    top:64px;
    left:0;
    background-color: rgba(0,0,0,0.80);
    z-index: 10;
}
#header li {
    float:none;
    background-color: #fff;
    border-top: 1px solid #eee;
    padding:0;
}
#header a {
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    padding:1.2em 5%;
}
#header li a span {
    display: inline-block;
    font-size:2.2rem;
    padding-right:0.8em;
}
#header .entry {
    position: absolute;
    right:0;
    top:0;
    width:25%;
}
#header .entry a {
    width:100%;
    height:64px;
    font-size:1.2rem;
}
#header .entry a .en {
    font-size:1.8rem;
}
